{% extends "base.html" %}
{% block content %}

    <div class="well">
        <h3>Give me ingredients, and I shall give you recipes!</h3>
          <form action="" method="post" name="post">
              {{ form.hidden_tag() }}
              <table>
                  <tr>
                      <td></td>
                      <td>{{ form.post(size=30, maxlength=140) }}</td>
                      <td>
                      {% for error in form.post.errors %}
                      <span style="color: red;">[{{ error }}]</span><br>
                      {% endfor %}
                      </td>
                  </tr>
                  <tr>
                      <td></td><td>
                      - <input id="slider1" class="sync" type="range" min="0" max="100" value="{{slider1}}" onchange="updateSliders()"/>
                      + </td><td onclick="window.alert('Set this high to return results you can make ONLY with your ingredients. Set this low if you are willing to shop for more ingredients.')">
                      Recipes you can make with only search terms [click for info]
                      </td>
                  </tr><tr>
                      <td></td><td>
                      - <input id="slider2" class="sync" type="range" min="0" max="100" value="{{slider2}}" onchange="updateSliders()"/>
                      + </td><td onclick="window.alert('Set this high if you want to use most of the ingredients in your query. Set this low for ideas that will not strip your pantry bare.')">
                      Recipes that use all your search terms [click for info]
                      </td>
                  </tr><tr>
                      <td></td><td>
                      - <input id="slider3" class="sync" type="range" min="0" max="100" value="{{slider3}}" onchange="updateSliders()"/>
                      + </td><td onclick="window.alert('Set this high to prioritize using some of your less common ingredients.')">
                      Recipes that prioritize your more unique ingredients [click for info]
                      </td>
                  </tr><tr>
                      <td></td><td>
                      - <input id="slider4" class="sync" type="range" min="0" max="100" value="{{slider4}}" onchange="updateSliders()"/>
                      + </td><td onclick="window.alert('Set this high for results that might surprise you.')">
                      Unusal recipes [click for info]
                      </td>

                  </tr>
                  <tr>
                      <td></td>
                      <td><input type="submit" value="Eat!"></td>
                      <td></td>
<!--                      <button onclick="window.alert(5 + 6)">Try it</button>-->
                  </tr>
              </table>
              <table>
              </table>
          </form>

        {% include 'paginate.html' %}
        <br>

        {% for post in posts %}
        <div><p style="height:5px">{% include 'post.html' %}</p>
        </div>
        {% endfor %}

        {% include 'paginate.html' %}


        <br>
    </div>

<script>
    function updateSliders() {
        document.getElementById("sliderField1").value = document.getElementById("slider1").value;
        document.getElementById("sliderField2").value = document.getElementById("slider2").value;
        document.getElementById("sliderField3").value = document.getElementById("slider3").value;
        document.getElementById("sliderField4").value = document.getElementById("slider4").value;
    }
    function setSliders() {
        document.getElementById("slider1").value = document.getElementById("sliderField1").value;
        document.getElementById("slider2").value = document.getElementById("sliderField2").value;
        document.getElementById("slider3").value = document.getElementById("sliderField3").value;
        document.getElementById("slider4").value = document.getElementById("sliderField4").value;
    }
</script>

{% endblock %}

