{% extends "base.html" %}
{% block content %}

    <div class="well">
        <h3>Give me ingredients, and I shall give you recipes!</h3>
          <form action="" method="post" name="post">
              {{ form.hidden_tag() }}
              <table>
                  <tr>
                      <td></td>
                      <td>{{ form.post(size=30, maxlength=140) }}</td>
                      <td>
                      {% for error in form.post.errors %}
                      <span style="color: red;">[{{ error }}]</span><br>
                      {% endfor %}
                      </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td><input type="submit" value="Eat!"></td>
                      <td></td>
                  </tr>
              </table>
          </form>

        {% include 'paginate.html' %}
        <br>

        {% for post in posts %}
        <div><p style="height:5px">{% include 'post.html' %}</p>
        </div>
        {% endfor %}

        {% include 'paginate.html' %}


        <br>
    </div>
{% endblock %}


Suppose you have an outcome that can only take a value of 1 if you respond, it's still reasonable to say two outcomes (1. response; 2. response AND room available).
This works for dummy variables that can only be coded as 1.

If you start thinking about length of response, you might get this BP issue. Can't really do length of response, given that you respond. "Bad" control.
More advanced reading: "Principle Stratigication" - invented to deal with the BP case. David B doesn't know much about it.


David R: We don't have to define it as attrition if we define out outcome variable correctly.